* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #202d36;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
input {
  position: absolute;
  top: 15px;
  padding: 6px 14px;
  outline: none;
  width: 300px;
  border-radius: 4px;
  border: none;
}
::placeholder {
  font-size: 16px;
}

h1 {
  text-align: center;
  color: #fff;
}

.card {
  color: white;
  width: 350px;
  height: 200px;
  margin: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

p {
  margin-top: 10px;
}

/* Utility class */
.country {
  text-align: center;
  margin-top: 10px;
}
